html, body {
    height: 100%;
}

body {
    background: url("../img/bar.jpg");
    background-position:center;
    background-size:100%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hero {
    color: #fff;
    text-align: center;
}

.hero .title {
    font-family: 'Droid Sans';
    font-weight: 700;
    font-size: 600%;
    display: block;
}

.hero .subtitle {
    margin-top: 15px;
    font-size: 200%;
    display: block;
}